<section class="resume-section" id="about">
  <div class="resume-section-content">
    <h1 class="mb-0">
      {{ person.firstName }}
      <span class="text-primary">{{ person.lastName }}</span>
    </h1>
    <div class="subheading mb-5">
      {{ person.address | translate }} · {{ person.phoneNumber }}·
      <a href="mailto:name@email.com">{{ person.email }}</a>
    </div>
    <p class="lead mb-5 description-section">{{ (person.introduction | translate) }}</p>
    <div class="social-icons">
      <a class="social-icon" target="blank" href="https://www.linkedin.com/in/redouane-jalil/"><i class="fab fa-linkedin-in"></i></a>
      <a class="social-icon" target="blank" href="https://github.com/redouanejl"><i class="fab fa-github"></i></a>
    </div>
  </div>
</section>
