.languages-selection {
  position: fixed;
  top: 20px;
  right: 20px;
}

.flag-png{
  width: 20px;
  height: 15px;
  display: inline;
  margin-right: 10px;
}

@media screen and (max-width : 991px) {
  .languages-selection {
    top: 60px;
  }
}
